html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

body{
  background: white;

}

main{
  width: 100%;
}

#sketch{
  width: 100%;
}

#gui{
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
}

/*styled button */
.button{
  background-color: #dca5d3;
  border: solid 1px #ffffff;
  border-radius: 10px;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin:0 auto;
  font-size: 16px;
  min-width: 200px;
  cursor: pointer;
}



.button:hover{
  background-color:white;
  color: #dca5d3;
}



/*add inactive state styling*/

